<% include ./../partials/header %>

<% if (post._revised !== undefined) {
    page = {title:  "UPDATE A POST", action: "/post/" + post._id + "?_method=PUT", submit: "UPDATE"};
} else {
    post._id = null;
    page = {title:  "RISE A NEW POST", action: "/post", submit: "POST"};
}%>


<h1><%= page.title %></h1>
<div>
    <p><a href="/post/<%= post._id %>">< TURN BACK</a></p>
</div>
<form action="<%= page.action %>" method="POST">
    <div class="form-row">
        <div class="form-group col-md-4">
            <label for="postAuthor">Author</label>
            <input class="form-control" id="postAuthor" name="post[author]" value="<%= post.author %>" placeholder="Enter your name">
        </div>
        <div class="form-group col-md-4">
            <label for="postTitle">Title</label>
            <input class="form-control" id="postTitle" name="post[title]" value="<%= post.title %>" placeholder="Enter the post title">
        </div>
        <div class="form-group col-md-4">
            <label for="postClass">Category</label>
            <input class="form-control" id="postClass" name="post[class]" value="<%= post.class %>" placeholder="Enter the category">
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-12">
            <label for="postFtImg">Featured Image Address</label>
            <input class="form-control" id="postFtImg" name="post[featuredImg]" value="<%= post.featuredImg %>" placeholder="Enter URL for a featured image">
        </div>
        <div class="form-group col-md-12">
            <label for="postContent">Content</label>
            <textarea class="form-control" id="postContent" name="post[content]" rows="7" placeholder="Enter the post content"><%= post.content %></textarea>
        </div>
        <div class="col-md-12">
            <button class="btn btn-primary"><%= page.submit %></button>
        </div>
    </div>
</form>

<% if (post._revised !== undefined) {%>

<form action="/post/<%= post._id %>?_method=DELETE" method="POST">
    <div class="col-md-12">
        <button class="btn btn-danger">DELETE</button>
    </div>
</form>

<% } %>

<% include ./../partials/footer %>
